<div class="form-container">
    <h3>New course</h3>
    <form hx-post="/api/courses" hx-target="#main-display" hx-swap="outerHTML" hx-confirm="Are you sure you want to add this course?" hx-push-url="false">
      <input type="text" id="title" name="title" placeholder="Title" required>
      <div class="hashtag-input-container">
        <span class="hashtag-icon">#</span>
        <input type="text" id="section" placeholder="Section" name="section" required>
      </div>
      <input type="text" id="description" placeholder="Description (Not required)" name="description">
      <button type="submit">Add</button>
    </form>
  </div>
  